tt, pre, code { font-size: 1.25em; }
img { border:0; }

html {
	background:#CCCCCC;
}

body {
	font: 0.75em Verdana, Arial, sans-serif;
	color: #000;
	margin: 1em 2em;
}

a {
	text-decoration: underline;
	color:#8A116D;
}

a:hover {
	text-decoration: underline;
	color:#666666;
}

input {	border: 1px solid #666; }
input[type="submit"] { background-color:#fff; color: #777; }
input[type="password"], input[type="text"], textarea { background: #ededed; border-width: 1px; }

h2 {
	text-align: center;
	letter-spacing: 0.07em;
	margin-bottom: 1em;
	font-size: 1.7em;
	color: white;
	background: #770174;
}

h3 {
	letter-spacing: 0.07em;
	margin: 0;
	font-size: 1.2em;
	color:#8A116D;
}

p{
	padding: 0 20px;
}

table  {margin: auto }
table tr { text-align: center; vertical-align: top; }
table h3 { border-bottom: 0; }

div.editbutton { float: right }

/********
 * MENU *
 ********/
#menu{
	float:left;
	clear:left;
	width: 170px;
	position:relative;
	top:-135px;
}

#menu h3 {
	margin:0;
	line-height:29px;
	color:#ffffff;
	border: 1px solid #8A116D;
	background: url("/site_media/imgs/bg_mauve.jpg") repeat-x;
	padding-left:7px;
	}

#menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color:#FFFFFF;
	}
	
#menu li{
	margin:0;
	padding:0;
	line-height:26px;
	list-style-type:none;
	text-align: left;
	border-left:1px solid #8A116D;
	border-right:1px solid #8A116D;
	font-weight:bold;
}
#menu li a{
	padding:0 7px;
	display:block;
	color:#000000;
	text-decoration:none;
}

#menu li a:hover{
	text-decoration:none;
	color:#8A116D;
	background:url("/site_media/imgs/fleche_menu.png") no-repeat right;
	background-color:#e6e6e6;
}

#last_menu{
	border-bottom: 1px solid #8A116D;
}

/***********
 * TOPMENU *
 ***********/
#header{
	margin:0;
} 
 
#topmenu_conteneur {
	padding:0;
	margin:0;
	position:relative;
	top:-147px;
	background:url("/site_media/imgs/banniere_cerkinfo.jpg") no-repeat;
	height:147px;
}

#topmenu_conteneur p{
	padding:0;
	margin:0;
	font-size: 30px;
	color:#fff;
	margin-left:200px;
	padding-top:30px;
	text-align:center;
}

#topmenu_conteneur_droite {
	padding:0;
	margin:0;
	background:url("/site_media/imgs/fin_banniere_cerkinfo.jpg") no-repeat;
	background-position:right;
	background-color:#19090D;
	height:147px;
}

#topmenu ul{
	background:#ffffff;
	line-height:36px;
	position:relative;
	top:19px;
	border:1px solid #909090;
	z-index:15;
	text-align:center;
	margin-left:180px;
}

#topmenu li {
	display:inline;
	list-style-type:none;
	border:0;
	padding: 0;
	margin: 0;
}

#topmenu a {
	color: black;
	font-weight:bold;
	font-size:1.1em;
	text-decoration: none;
	border:1px solid #999;
	padding:5px 37px;
	background:url("/site_media/imgs/bg_silver.jpg") repeat-x;
}

#topmenu a:hover{
	color: #fff;
	background:url("/site_media/imgs/bg_mauve.jpg") repeat-x;
}

/*******
* MAIN *
********/
#content {
	margin:0 8px 0 180px;
	position:relative;
	top:-135px;
	padding: 0 0 10px 0;
	text-align:left;
	border: 1px solid #999;
	background:#fff;
}
#content h2 {
	text-align: left;
	margin: 0;
	padding: 0 0 0 7px;
	font-size:1.1em;
	line-height:30px;
	color: #000;
	border-bottom:1px solid #999;
	background:url("/site_media/imgs/bg_silver.jpg") repeat-x;
}
#content h2 a, #content h2 a:hover {
	text-decoration: none;
	color: #000;
}

.info { color:red; }

#pvlist{
	margin:10px;
}

/*******
* NEWS *
*******/
.news {
	padding:10px;
	margin:15px 25px;
	background-color:#F0F0F0;
	}
	
.newsheader {
	margin:0;
	font-size: 1em;
	border-bottom: 1px solid #8A116D;
	padding:7px 0;
	text-align: right;
}

.newstext {
	padding: 10px;
}

.newsbottom {
	padding: 10px;
	text-align: right;
	border-top: 1px solid #8A116D;
}

.news h3 {
	letter-spacing: 0.07em;
	margin: 0;
	font-size: 1.2em;
	color:#8A116D;
}

/*********
* FOOTER *
*********/
#footer {
	clear: both;
	position:relative;
	top:-123px;
	text-align: center;
	margin: 0 8px 16px 0;
	background-color:#8A116D;
}
#powered ul { padding: 7px 0 0 0;}
#powered ul li {
	display:inline;
	list-style-type:none;
	padding:0 0.50em 0 0.50em;
}
#footer p{
	color:#fff;
	margin:0;
	padding:0 0 7px 0;
}

.paginator { padding: .25em .25em .6em .25em; }
.paginate-pages { padding: 2px 3px; border: 1px solid #ddd; cursor: pointer; text-decoration: underline; }
.paginate-first, .paginate-last { padding: 2px 6px; border: 1px solid #ddd; font-weight: bold; }
.paginate-previous, .paginate-next { padding: 2px 3px; border: 1px solid #ddd; }
.paginate-link { padding: 2px 4px; border: 1px solid #ddd; }
.paginate-current { padding: 2px 4px; border: 1px solid #ddd; font-weight: bold; background:#417690; color:#f4f379; }

.fortune {
    padding:5px;
    background-color:#FFFF73;
}
