{%extends "base.html" %}
{% load comiteyear %}
{% load flatblock_tags %}
{% load frontendadmin_tags %}

{% block title %} PVs {% endblock %}

{% block content %}

{% flatblock "pv.info" %}
{% if object_list %}
    <div id="pvlist">
    {% frontendadmin_add object_list 'Ajouter un pv' %}
    {% regroup object_list by year as grouped_pv %}
    {% for pv_group in grouped_pv %}
    <h3>{{ pv_group.grouper|niceyears }} </h3>
        <ul>
        {% for pv in pv_group.list %}
            <li><a href="{{ pv.pvfile.url }}">{{ pv }}</a>
            ({{ pv.pvfile.size|filesizeformat }} ) {% frontendadmin_change pv %}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    </div>
{% else %}
    <p>Pas de PVs disponible, ceci est un bug.</p>
{% endif %}
{% endblock %}
