tt, pre, code { font-size: 1.25em; }
img { border:0; }

html {
	background:#CCCCCC;
}

body {
	font: 0.75em Verdana, Arial, sans-serif;
	color: #000;
	margin: 1em 2em;
}

a {
	text-decoration: underline;
	color:#8A116D;
}

a:hover {
	text-decoration: underline;
	color:#666666;
}


a.frontendadmin_edit {
	padding-left: 5px;
	padding-right: 5px;
	float: right;
}

input {	border: 1px solid #666; }
input[type="submit"] { background-color:#fff; color: #777; }
input[type="password"], input[type="text"], textarea { background: #ededed; border-width: 1px; }

h2 {
	text-align: center;
	letter-spacing: 0.07em;
	margin-bottom: 1em;
	font-size: 1.7em;
	color: white;
	background: #770174;
}

h3 {
	letter-spacing: 0.07em;
	margin: 0;
	font-size: 1.2em;
	color:#8A116D;
}

p{
	padding: 0 20px;
}

table  {margin: auto }
table tr { text-align: center; vertical-align: top; }
table h3 { border-bottom: 0; }

div.editbutton { float: right }

/********
 * MENU *
 ********/
#menu{
	float:left;
	clear:left;
	width: 170px;
	position:relative;
	top:-135px;
}

#menu h3 {
	font-family: 'Ubuntu', arial, serif;
	margin:0;
	line-height:29px;
	color:#ffffff;
	border: 1px solid #8A116D;
	background: url("/site_media/imgs/bg_mauve.jpg") repeat-x;
	padding-left:7px;
	}

#menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color:#FFFFFF;
	}
	
#menu li{
	margin:0;
	padding:0;
	line-height:26px;
	list-style-type:none;
	text-align: left;
	border-left:1px solid #8A116D;
	border-right:1px solid #8A116D;
	font-weight:bold;
}
#menu li a{
	font-family: 'Ubuntu', arial, serif;
	padding:0 7px;
	display:block;
	color:#000000;
	text-decoration:none;
}

#menu li a:hover{
	text-decoration:none;
	color:#8A116D;
	background:url("/site_media/imgs/fleche_menu.png") no-repeat right;
	background-color:#e6e6e6;
}

#last_menu{
	border-bottom: 1px solid #8A116D;
}

/***********
 * TOPMENU *
 ***********/
#header{
	margin:0;
} 
 
#topmenu_conteneur {
	padding:0;
	margin:0;
	position:relative;
	top:-147px;
	background:url("/site_media/imgs/banniere_cerkinfo.jpg") no-repeat;
	height:147px;
}

#topmenu_conteneur p{
	font-family: 'Ubuntu', arial, serif;
	padding:0;
	margin:0;
	font-size: 4em;
	color:#fff;
	margin-left:200px;
	padding-top:30px;
	text-align:center;
}

#topmenu_conteneur_droite {
	padding:0;
	margin:0;
/*	background:url("/site_media/imgs/fin_banniere_cerkinfo.jpg") no-repeat;*/
	background-position:right;
	background-color:#19090D;
	height:147px;
}

#topmenu ul{
/*	background:#ffffff;*/
	line-height:26px;
	position:relative;
	top:0px;
/*	border:1px solid #909090;*/
	z-index:15;
	text-align:center;
	margin-left:180px;
}

#topmenu li {
	font-family: 'Ubuntu', arial, serif;
	display:inline;
	list-style-type:none;
	border:0;
	padding: 0;
	margin: 0;
}

#topmenu a {
	font: 1em Verdana, Arial, sans-serif;
	color: black;
	font-weight:bold;
	font-size:1.1em;
	text-decoration: none;
	border:1px solid #999;
	padding:5px 37px;
	background:url("/site_media/imgs/bg_silver.jpg") repeat-x;
	-moz-border-radius: 40px; /* FF1+ */
	-webkit-border-radius: 40px; /* Saf3-4 */
	border-radius: 40px; /* Opera 10.5, IE9, Saf5, Chrome */

}

#topmenu a:hover{
	color: #fff;
	background:url("/site_media/imgs/bg_mauve.jpg") repeat-x;
}

/*******
* MAIN *
********/
#content {
	margin:0 0px 0 180px;
	position:relative;
	top:-135px;
	padding: 0 0 0px 0px;
	text-align:left;
	border: 1px solid #999;
	background:#fff;
}
#content h2 {
	text-align: left;
	margin: 0;
	padding: 0 0 0 7px;
	font-size:1.1em;
	line-height:30px;
	color: #000;
	border-bottom:1px solid #999;
	background:url("/site_media/imgs/bg_silver.jpg") repeat-x;
}
#content h2 a, #content h2 a:hover {
	text-decoration: none;
	color: #000;
}

.info { color:red; }

#pvlist{
	margin:10px;
}


/*******
* NEWS *
*******/
.news {
	margin:15px 15px;
	background-color:#F0F0F0;
	border-radius: 20px; /* Opera 10.5, IE9, Saf5, Chrome */
	}


h1{
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.02, rgb(240,240,240)),
    color-stop(0.25, rgb(199,197,197))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(240,240,240) 02%,
    rgb(199,197,197) 25%
);
	margin:0;
	padding: 00px 00px 00px 20px;
	font-size:2em;
	line-height:2.5em;
	background-color:#9f9b9b;
	font-family: 'Ubuntu', arial, serif;
}

.news a {
	text-decoration: none;
	color: #262526;
}

.news h1{	
	text-align: left;
	padding: 00px 00px 00px 20px;
	font-size:1.5em;
	line-height:2em;
/*	background:url("/site_media/imgs/bg_silver.jpg") repeat;*/
	border-top-left-radius: 20px; /* Opera 10.5, IE9, Saf5, Chrome */
	border-top-right-radius: 20px; /* Opera 10.5, IE9, Saf5, Chrome */
/*	text-shadow: black 1px 1px;*/

background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.02, rgb(240,240,240)),
    color-stop(0.25, rgb(199,197,197))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(240,240,240) 02%,
    rgb(199,197,197) 25%
);

	}

.newsheader {
	margin:0;
	font-size: 1em;
	border-bottom: 1px solid #8A116D;
	padding:7px 0;
	text-align: right;
}


.newsbottom {
	border-bottom-left-radius: 20px; /* Opera 10.5, IE9, Saf5, Chrome */
	border-bottom-right-radius: 20px; /* Opera 10.5, IE9, Saf5, Chrome */
/*	background-color:#c7c5c5;*/
	text-align: right;
	padding: 10px;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.34, rgb(199,197,197)),
    color-stop(0.99, rgb(240,240,240))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(199,197,197) 34%,
    rgb(240,240,240) 99%
);
}

.newsauthor {
text-align:left;
font-family:ubuntu;
}
.newsbottom a {
	font-weight: bold;
	text-decoration: none;
}

.news h3 {
	letter-spacing: 0.07em;
	margin: 0;
	font-size: 1.2em;
	color:#8A116D;
}

/*********
* FOOTER *
*********/
#footer {
	clear: both;
	position:relative;
	top:-123px;
	text-align: center;
	margin: 0 8px 16px 0;
	background-color:#8A116D;
}
#powered ul { padding: 7px 0 0 0;}
#powered ul li {
	display:inline;
	list-style-type:none;
	padding:0 0.50em 0 0.50em;
}
#footer p{
	color:#fff;
	margin:0;
	padding:0 0 7px 0;
}

.paginator { padding: .25em .25em .6em .25em; }
.paginate-pages { padding: 2px 3px; border: 1px solid #ddd; cursor: pointer; text-decoration: underline; }
.paginate-first, .paginate-last { padding: 2px 6px; border: 1px solid #ddd; font-weight: bold; }
.paginate-previous, .paginate-next { padding: 2px 3px; border: 1px solid #ddd; }
.paginate-link { padding: 2px 4px; border: 1px solid #ddd; }
.paginate-current { padding: 2px 4px; border: 1px solid #ddd; font-weight: bold; background:#417690; color:#f4f379; }

.fortune {
    padding:5px;
    background-color:#F0f0f0;
}

a.frontendadmin:link,
a.frontendadmin:visited{
color: #c00;
font-size: 0.95em;
}

a.frontendadmin_add:link,
a.frontendadmin_add:visited{
display: block;
margin-bottom: 20px;
}

.frontendadmin_container_hover{
background-color: #FEF9D7;
}

fieldset.frontendadmin{
margin: 30px 0;
padding: 10px 10px;
border: 1px dotted #6498CC;
font-size: 12px;
}

fieldset.frontendadmin p{
background-color: #E7EFF6;
margin: 0 0 5px 0;
padding: 5px 10px;
}

fieldset.frontendadmin legend{
font-weight: bold;
font-size: 1.2em;
color: #333;
}

fieldset.frontendadmin label{
font-size: 0.9em;
font-weight: bold;
color: #333;
display: block;
margin-bottom: 3px;
}

fieldset.frontendadmin input[type=text],
fieldset.frontendadmin input[type=password],
fieldset.frontendadmin textarea{
width: 99%;
}

fieldset.frontendadmin ul.errorlist{
margin: 0;
padding: 0;
list-style: none;
}

fieldset.frontendadmin ul.errorlist li{
margin: 5px 0 2px 0;
padding: 5px 10px;
color: White;
background-color: #F74A4A;
}


/* ##### 
 * OS
 */
.os {
    list-style-type:none;
    float: right;
    margin:2em;
    }
.reset {
   clear: right;
   }

#oslist a{
    text-size: 2em;
    text-decoration:none;
}



/* hide Skip navigation link*/
#skip a, #skip a:hover, #skip a:visited
{
position:absolute;
left:0px;
top:-500px;
width:1px;
height:1px;
overflow:hidden;
}

#skip a:active, #skip a:focus
{
position:static;
width:auto;
height:auto;
} 
