{%extends "base.html" %}
{% load phpbb %}
{% load flatblock_tags %}
{% load gcal%}

{% block title %} News {% endblock %}

{% block content %}


{% load cache %}
{% cache 600 eventfeed %}
{#{% include_gcal vahmatom646cf3jdnn65t843p8@group.calendar.google.com eventfeed.html 5 %}#}
{% endcache %}

{% flatblock "news.info" %}
{% if object_list %}
    {% for topic in object_list %}
        <div class="news">
            <h2>{{ topic|safe }}</h2>
            <p class="newsheader">par {{topic.topic_poster }} le {{topic.topic_time}}</p>
            <p class="newstext">{{topic.topic_first_post.post_text|safe|bbcode}}<p>
            <p class="newsbottom"><a href="{{ topic.topic_first_post.get_external_url }}">{{topic.topic_replies}} commentaires</a></p>
        </div>
    {% endfor %}
{% else %}
    <p>Pas de news à afficher, ceci est un bug.</p>
{% endif %}
{% endblock %}
